div.dropable-container {
  > div {
    display: flex;
    flex-flow: column;
    width: 100%;
  }

  div.dropped {
    border-style: dotted;
    border-width: thin;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    height: 3em;
    margin: 2px auto;
    text-align: center;
    cursor: pointer;
  }

  div.dropped.droppable {
    min-height: 10em;
    height: 100%;
  }
}